:root {
  --wofi-color0: #2F3741;
  --wofi-color1: #d9e0ee;
  --wofi-color2: #4B87CD;
  --wofi-color3: #f38ba8;
  --wofi-color4: #cba6f7;
}
* {
    font-family: "Noto Sans";
    font-size: 14px;
}

#window {
	background-color: var(--wofi-color0);
	color: var(--wofi-color2);
	border: 2px solid var(--wofi-color1);
	border-radius: 0px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: var(--wofi-color1);
	border: 0px solid var(--wofi-color3);
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
}

#text {
	color: var(--wofi-color2);
}

#text:selected {
	color: var(--wofi-color0);
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: var(--wofi-color3);
	color: var(--wofi-color0);
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
