[Unit]
Description=Auto Sync Git Repositories

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.local/bin/gitsync.sh

[Install]
WantedBy=default.target
